spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
app:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/dbms
    username: postgres
    password: password
    pool-size: 30
  admin:
    email: jamwalmansi16@gmail.com
